.form__control {
  padding: .75rem 0 .75rem 0;
}
.form__control:focus {
  outline: none;
}

.form__group--md {
  margin-bottom: 2.2rem;
}

.cabinet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 575px) {
  .cabinet {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cabinet__form {
  width: 34rem;
}
@media (max-width: 575px) {
  .cabinet__form {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.cabinet__avatar {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 11rem;
}
.cabinet__avatar img {
  display: block;
  margin-bottom: 12px;
}
@media (max-width: 575px) {
  .cabinet__avatar {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-left: 0;
    margin-bottom: 15px;
  }
}

.cabinet__file {
  color: #3137c9;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}
.cabinet__file input {
  display: none;
}
.cabinet__file:hover {
  text-decoration: none;
}
