.page {
  overflow: hidden;
}

.page__title {
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
  margin: 0 0 3rem 0;
}
.page__title--center {
  text-align: center;
}
@media (max-width: 575px) {
  .page__title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}

.btn--rounded {
  border-radius: 5px;
}

.btn--sm {
  font-size: 13px;
  padding: 0.9em 2em;
}

/*------------work-------------------*/
.work {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
  background-color: #202020;
  border-radius: 5px;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
}
@media (max-width: 575px) {
  .work {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.work__preview {
  max-width: 310px;
}
.work__preview img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 575px) {
  .work__preview {
    width: 100%;
    height: 20rem;
    max-width: none;
  }
}

.work__content {
  max-width: 290px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 575px) {
  .work__content {
    width: 100%;
    padding: 15px;
  }
}

.work__title {
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
  margin: 0 0 0.5rem 0;
}
.work__title a {
  color: inherit;
}

.work__description {
  font-size: 16px;
  color: #d2d2d2;
  font-weight: 300;
}
@media (max-width: 575px) {
  .work__description {
    font-size: 14px;
  }
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tags__item {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 11px;
  background-color: #ea0c1e;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  padding: 0.2rem 0.7rem;
}

.work__footer {
  margin-top: auto;
  text-align: right;
}
@media (max-width: 575px) {
  .work__footer {
    text-align: left;
  }
}
